.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $aiesec-blue;

    .card {
        margin: auto;
        width: 90vw;
        text-align: center;

        @include larger-than($mantine-breakpoint-sm) {
            width: 320px;
        }

        @include larger-than($mantine-breakpoint-md) {
            width: 360px;
        }

        @include larger-than($mantine-breakpoint-lg) {
            width: 540px;
        }

        img {
            margin: auto;
        }
    }

    .error {
        span {
            margin: auto;
        }
    }
}

.fullpage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;

    > * {
        margin: auto;
    }
}