.main {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
  text-align: center;

  img {
    margin: 16px;
    border-radius: 10px;
  }
}
